<app-menu></app-menu>

<div class="home-content">
    <h1>CHRISTMAS PROJECT</h1>
    <h2>This project is just for learning purposes</h2>

    <div class="grid-libros">
        <div *ngFor="let libro of libros"> 
            <div class="item-libro" (click)="navigateToLibro(libro.id)">
                <img class="item-libro-imagen" src="{{libro.imagen}}">
                <h5>{{libro.titulo}}</h5>
                <p>{{libro.autor}}</p>
            </div>
        </div>
    </div>
    
    <button type="button" class="btn btn-primary boton-ver-mas" type="button" disabled *ngIf="cargando">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>

    <button type="button" class="btn btn-primary boton-ver-mas" type="button" (click)="getLibros()" *ngIf="!cargando && !ultimaPagina">
        <span>+</span>
    </button>
</div>
